@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,300;0,400;0,500;1,100;1,200;1,300;1,400&display=swap');

@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css');

:root {
  --cor-destaque: rgb(255, 123, 0);
  --font-title:'Montserrat', sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  position: relative;
}

.header {
  position: relative;
  background-color:black;
  display: flex;
  
  align-items: center;
  width: 100%;
  height: 60px;
}

#openCart {
  position: absolute;
  cursor: pointer;
  z-index: 1;
}

.cart {
  right: 60px;
}

.visible {
  position: absolute;
  right: 420px;
}

.container-title {
  width: 20rem;
  margin-left: 2rem;
}

.title {
  color: rgb(221, 221, 221);
  font-size: 30px;
}

#search{
  display: flex;
  align-items: center;
}

.form-control {
  padding: 0.4rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  color: rgb(33, 37, 41);
  background-color: white;
  border: 1px solid rgb(206, 212, 218);
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  height: 2rem;
  width: 30rem;
}

.form-control:focus {
  color: rgb(33, 37, 41);
  background-color: white;
  border-color: var(--cor-destaque);
  outline: 0;
  box-shadow: 0.01px 0.01px 10px var(--cor-destaque);
}

.container-cartTitle {
  position: absolute;
  right: 0;
  display: flex;
  align-items: center;
  background-color: #343434;
  width: 3%;
  height: 100%;
  z-index: 1;
} 

.show-title {
  width: 30%;
}

.container-cartTitle p {
  display: block;
  padding-left: 1rem;
  color: white;
  font-size: 20px;
  font-weight: 700;
  z-index: 1;
}

.container-cartTitle span {
  display: none;
}

.show-title span {
  z-index: 1;
  display: block;
}

.container-cartTitle:after {
  content: '';
  position: absolute;
  top: 15px;
  right: 61.5%;
  width: 39.5%;
  height: 15px;
  background: #343434;
  transform: skew(-45deg);
  z-index: 0;
}

.container-cartTitle:before {
  content: '';
  position: absolute;
  top: 30px;
  right: 61.5%;
  width: 39.5%;
  height: 15px;
  background: #343434;
  transform: skew(45deg);
  z-index: 0;
}

.container-cartTitle .cart__title {
  color: white;
  font-size: 20px;
  padding-left: 35px;
  font-weight: 700;
}

.title strong {
  color: var(--cor-destaque);
}
.menu {
  display: flex;
  align-items: center;
  justify-content: center;
  border-top: 1px solid;
  background-color: rgb(255, 123, 0);
  color: #343434;
}

.menu li{
  display: inline;
  margin: 0.5rem 2rem;
  padding-right: 5rem ;
  border-right: 1px solid;
}

.menu a {
  color: #343434;
  text-decoration: none;
}

#categorias {
  display: flex;
  align-items: center;
  border-left: 1px solid;
  padding-left: 2rem;
  cursor: pointer;
  position: relative;
}

#categorias ul {
  display: none;
  position: absolute;
  background-color: #343434; 
  width: 300px;
  z-index: 2;
}

#categorias li {
  border: none;
  margin: 1rem;
  padding: 1rem;
}

#categorias:hover ul {
  display: flex;
  flex-direction: column;
  top: 1.5rem;
}

#sub-categorias li a {
  color: white;
}

#sub-categorias li:hover {
  background-color: var(--cor-destaque);
}

#promocoes {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#promocoes h1 {
  margin: 1rem;
  padding-left: 5rem;
} 

#rolagem {
  display: flex;
  width: 90%;
  position: relative;
  margin: auto;
  align-items: center;
  justify-content: center;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.616);
}

.slider {
  display: flex;
  align-items: center;
  justify-content: space-between;
  align-self: center;
  width: 95%;
  height: 15rem;
  position: relative;
  overflow-x: hidden;
}

#rolagem button {
  background-color: white;
  border: none;
  padding: 10px;
  height: 100%;
}

.backward{
  position: absolute;
  left: 0;
  z-index: 1;
}

.forward {
  position: absolute;
  right: 0;
  z-index: 1;
}

.material-icons {
  color: var(--cor-destaque);
  cursor: pointer;
}

#rolagem button:hover {
  cursor: pointer;
  background-color: #24242436;
  
}
.scroll {
  display: flex;  
}

.cards-scroll {
  border-right: 1px solid rgb(196, 196, 196);
  border-bottom: 1px solid rgb(196, 196, 196);
  height: 180px;
  width: 200px;
  margin: 1rem;
  display: flex;
  position: relative;
  flex-direction: column;
  padding-bottom: 1rem;
}

.card-srcoll-titulo {
  position: absolute;
  text-align: center;
  background-color: #5454547a;
  backdrop-filter: blur(2px);
  padding: 0.3rem;
  text-shadow: 1px 1px 15px rgb(131, 131, 131);
  display: none;
  height: 100%;
  font-size: 16px;
  width: 100%;
}

.cards-scroll:hover {
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.616);
  cursor: pointer;
}

.cards-scroll:hover .card-srcoll-titulo{
  display: block;
}

.cards-scroll-wrapper {
  height: 85%;
  width: 100%;
  border-bottom: #343434;
}

.cards-scroll-wrapper img {
  width: 100%;
  height: 100%;
}

.scroll-price {
  font-size: 20px;
  color: #545454;
  font-weight: 600;
  padding: 0.5rem;
}

#produtos {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#produtos h1 {
  display: flex;
  align-self: flex-start;
  margin: 5rem;
}

.container {
  width: 1000px;
}

.items {
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.item {
  width: 224px;
  height: 314px;
  position: relative;
  border-bottom: 1px solid rgb(196, 196, 196);
  border-right: 1px solid rgb(196, 196, 196);
  margin-bottom: 3rem;
}

.titulo-item {
  position: absolute;
  text-align: center;
  background-color: #5454547a;
  backdrop-filter: blur(2px);
  padding: 0.3rem;
  text-shadow: 1px 1px 15px rgb(131, 131, 131);
  display: none;
  height: 70%;
  font-size: 20px;
  width: 100%;
}

.item:hover {
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.616);
}

.item:hover .titulo-item {
  display: block;
}

.item:hover button {
  background-color: var(--cor-destaque);
  cursor: pointer;
}

.item-wrapper {
  border-bottom: 1px solid rgb(196, 196, 196);
  width: 100%;
  height: 70%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.item-wrapper img {
  height: 100%;
  width: 100%;
}

.item h2 {
  padding: 0.5rem;
  color: #545454;
}

.item p {
  text-align: end;
  margin-right: 5px;
  color: green;
}

.item button {
  position: absolute;
  bottom: 0;
  width: 100%;
  border: none;
  height: 2rem;
  background-color: rgba(255, 123, 0, 0.438);
  text-transform: uppercase;
}

#comfira {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: rgb(238, 238, 238);
}

#comfira h1 {
  margin-top: 1rem;
  padding-top: 2rem;
  padding-left: 5rem;
}

.CatCards {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 30rem;
  width: 90%;
  align-self: center;
}

.card {
  width: 284px;
  height: 340px;
  display: flex;
  flex-direction: column;
  background-color: white ;
  border-radius: 5px;
  border-bottom: 1px solid rgb(196, 196, 196);
  border-right: 1px solid rgb(196, 196, 196);
  cursor: pointer;
}

.card h2 {
  margin: auto;
}

.card p {
  text-align: center;
  margin-bottom: 5px;
  color: #545454;
}

.card a {
  text-decoration: none;
}

.card:hover {
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.616);
}

.card:hover p {
  color: var(--cor-destaque);
}
.img-background {
  width: 100%;
  height: 95px;
}

.img-background img {
  width: 100%;
  height: 100%;
  size: cover;
  border-radius: 5px 5px 0px 0px;
}

.img-wrapper {
  border: 1px solid;
  width: 80px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  align-self: center;
  margin: -25px;
}

.img-wrapper img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

.carrinho {
  position: absolute;
  top: 60px;
  right: 0;
  border-left: 1px solid rgb(196, 196, 196);
  border-bottom: 1px solid rgb(196, 196, 196);
  height: 90vh;
  width: 25.4rem;
  background-color: white;
  display: none;
  z-index: 2;
}

.show-cart {
  display: block;
}

.cart {
  display: flex;
  flex-direction: column;
}

.cart__items {
  height: 500px;
  overflow-y: scroll;
}

.Subtotal {
  margin: 0.3rem;
}

.empty-cart {
  display: flex;
  align-self: center;
  margin-top: 1rem;
  width: 350px;
  height: 1.5rem;
  padding: 5px;
  justify-content: center;
  border: none;
  color: white;
  background-color: #343434 ;
}

.empty-cart:hover {
  color: var(--cor-destaque);
  cursor: pointer;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.616);
}

footer {
  height: 400px;
  background-color: #141414;
  display: flex;
  justify-content: space-around;
  color: white;
}

footer section {
  display: flex;
  justify-content: center;
  flex-direction: column;
}


footer a:hover {
  color: var(--cor-destaque);
}

.footer-bar {
  border-right: 1px solid white;
  padding-right: 5rem;
}

.social-media{
  margin-top: 1rem;
  display: flex;
  justify-content: space-evenly;
}

.social-media i{
  color: white;
  height: 2.5rem;
  width: 2.5rem;
  font-size: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  transition: color 0.5s;
}

.social-media i:hover{
  color: var(--cor-destaque);
}